.rainbow{
    height: 100vh;
    width: 100%;
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient( orange , yellow, green,blue,red); 
    background: -o-linear-gradient(orange, yellow, green,blue,red); 
    background: -moz-linear-gradient(orange, yellow, green,blue,red); 
    background: linear-gradient(orange , yellow, green,blue,red); 
}
#mydiv {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    text-align: center;
    border: 1px solid #d3d3d3;
}